//our theme color
$blue:    #fff5c1;
$cyan:    #0dcaf0;
//White and  Black
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $blue;
$secondary:     $cyan;

//Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
@mixin xs{
    @media(min-width: map-get($grid-breakpoints, "xs")){
        @content;
    }
}
@mixin sm{
    @media(min-width: map-get($grid-breakpoints, "xs")){
        @content;
    }
}
@mixin md{
    @media(min-width: map-get($grid-breakpoints, "xs")){
        @content;
    }
}
@mixin lg{
    @media(min-width: map-get($grid-breakpoints, "xs")){
        @content;
    }
}
@mixin xl{
    @media(min-width: map-get($grid-breakpoints, "xs")){
        @content;
    }
}
@mixin xxl{
    @media(min-width: map-get($grid-breakpoints, "xs")){
        @content;
    }
}
//Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";