/* Error: Undefined variable.
 *    ,
 * 23 |       @media screen and (max-width: $small) {
 *    |                                     ^^^^^^
 *    '
 *   scss\sections\_login.scss 23:37  @use
 *   scss\style.scss 22:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 23 \2502        @media screen and (max-width: $small) {\d\a    \2502                                      ^^^^^^\a    \2575 \a   scss\\sections\\_login.scss 23:37  @use\a   scss\\style.scss 22:1             root stylesheet";
}
