@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded{
    position:relative;
    padding: 0.9375rem 1.5rem;
    font-weight: 700;
    margin: 0%;
    border: none;
    // span{
        // padding: 0.9375rem 4.375rem 0.9375rem 1.5rem;
    //     position: absolute;
    //     background-color: $primary;
    //     width: 2.5rem;
    //     height: 2.5rem;
    //    top:15%;
    //     right:5px;
    //    // transition: translateY(-50%);
    //     border-radius: 50%;
    // }
    &:hover{
        @include gradient;
        color: $white;
    }
}